<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:fragment="content">
<h2 th:text="#{account.accounts}">Accounts</h2>
<table class="table table-hover">
	<thead>
		<tr>
			<th th:text="#{account.id}">Id</th>
			<th th:text="#{account.name}">Name</th>
			<th th:text="#{account.email}">Email</th>
            <th th:text="#{account.role}">Role</th>
			<th th:text="#{account.phone}">Phone</th>
			<th th:text="#{action}">Action</th>
		</tr>
	</thead>
	<tbody>
        <tr th:unless="${!accounts.isEmpty()}">
            <td colspan="7"><p class="text-muted" th:text="#{noRecords}">No records found</p></td>
        </tr>
        <tr th:each="item : ${accounts}">
            <td th:text="${item.getId()}">1</td>
            <td th:text="${item.getName()}">John Doe</td>
            <td th:text="${item.getEmail()}">john@doe.com</td>
            <td th:text="${item.getRole()}">ROLE_ADMIN</td>
            <td th:text="${item.getPhone()}">12345</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span th:text="#{action}">Action</span>&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href='#' th:href="@{|/account/${item.getId()}/delete|}" class="" th:text="#{delete}">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
	</tbody>
    <tfoot>
    <tr>
        <td colspan="7">
            <div class="btn-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Filter
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" th:href="@{/account/list?role=ROLE_USER}">ROLE_USER</a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/account/list?role=ROLE_EMPLOYEE}">ROLE_EMPLOYEE</a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/account/list?role=ROLE_ADMIN}">ROLE_ADMIN</a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/account/list}">All</a>
                        </li>
                    </ul>
                </div>
                <a href='create.html' th:href="@{/account/create}" class="btn btn-default" th:text="#{account.create}">Add account</a>
            </div>
        </td>
    </tr>
    </tfoot>
</table>
</div>
</body>
</html>