<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container" th:fragment="content">
    <h2 th:text="#{dashboard}">Dashboard</h2>

    <div class="row">
        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{dashboard.incidents}">Incidents</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span th:text="#{dashboard.incidents.countAll}">Incident count</span>&nbsp;<span class="badge pull-right" th:text="${incidentCounts.all()}">42</span></li>
                    <li class="list-group-item"><span th:text="#{dashboard.incidents.countCreatedToday}">Incidents created today</span>&nbsp;<span class="badge pull-right" th:text="${incidentCounts.createdToday()}">42</span></li>
                    <th:block th:each="entry : ${incidentCounts.byStatus()}">
                        <li class="list-group-item"><span th:text="${#messages.msg('dashboard.incidents.byStatus', #messages.msg('incident.status.' + entry.getKey()))}">Incidents with status 'Closed'</span>&nbsp;<span class="badge pull-right" th:text="${entry.getValue()}">42</span></li>
                    </th:block>
                </ul>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{dashboard.audits}">Audits</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span th:text="#{dashboard.audits.countAll}">Incident count</span>&nbsp;<span class="badge pull-right" th:text="${auditCounts.all()}">42</span></li>
                    <li class="list-group-item"><span th:text="#{dashboard.audits.countCreatedToday}">Incidents created today</span>&nbsp;<span class="badge pull-right" th:text="${auditCounts.createdToday()}">42</span></li>
                    <th:block th:each="entry : ${auditCounts.byStatus()}">
                        <li class="list-group-item"><span th:text="${#messages.msg('dashboard.audits.byStatus', #messages.msg('incident.status.' + entry.getKey()))}">Audits with status 'Closed'</span>&nbsp;<span class="badge pull-right" th:text="${entry.getValue()}">42</span></li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{dashboard.users}">Users</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span th:text="#{dashboard.users.countAll}">User count</span>&nbsp;<span class="badge pull-right" th:text="${userCounts.all()}">42</span></li>
                    <th:block th:each="entry : ${userCounts.byRole()}">
                        <li class="list-group-item"><span th:text="${#messages.msg('dashboard.users.byRole', entry.getKey())}">User in role ROLE_USER</span>&nbsp;<span class="badge pull-right" th:text="${entry.getValue()}">42</span></li>
                    </th:block>
                </ul>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{dashboard.exports}">Export</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Export incidents <span class="pull-right"><a id="export-incidents-csv" href="#" th:href="@{/export/incidents}">CSV</a>, <a id="export-incidents-xml" href="#" th:href="@{/export/incidents?format=xml}">XML</a></span></li>
                    <li class="list-group-item">Export users <span class="pull-right"><a id="export-accounts-csv" href="#" th:href="@{/export/accounts}">CSV</a>, <a id="export-accounts-xml" href="#" th:href="@{/export/accounts?format=xml}">XML</a></span></li>
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{dashboard.health}">Health</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#" th:href="@{/manage/endpoints/filter?enabled=true}">Endpoints</a>
                        <span class="pull-right">
                            <span>
                                <a href="#"
                                   class="btn btn-xs btn-primary"
                                   data-toggle="modal"
                                   data-target="#modal"
                                   data-endpoint="Health"
                                   data-endpoint-url="/manage/health">Health</a>
                            </span>
                            <span>&nbsp;</span>
                            <span>
                                <a href="#"
                                   class="btn btn-xs btn-primary"
                                   data-toggle="modal"
                                   data-target="#modal"
                                   data-endpoint="Metrics"
                                   data-endpoint-url="/manage/metrics">Metrics</a>
                            </span>
                            <span>&nbsp;</span>
                            <span>
                                <a href="#"
                                   class="btn btn-xs btn-primary"
                                   data-toggle="modal"
                                   data-target="#modal"
                                   data-endpoint="Env"
                                   data-endpoint-url="/manage/env">Env</a>
                            </span>
                        </span>
                    </li>
                    <li class="list-group-item">Restore database <span class="pull-right"><a href="#" class="btn btn-xs btn-danger" th:href="@{/dashboard/reset}">Restore database</a></span></li>
                </ul>
            </div>

        </div>
    </div>

    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel">Nothing...</h4>
                </div>
                <div class="modal-body">
                    <pre class="content">Loading...</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        (function($) {
            var modal = $('#modal');

            var reset = function() {
                setTitle('Modal');
                setContent('Loading...');
            };

            var setTitle = function(title) {
                getTitle().text(title);
            };

            var setContent = function(content) {
                getContent().text(content);
            };

            var getContent = function() {
                return modal.find('.modal-body > .content');
            };

            var getTitle = function() {
                return modal.find('.modal-title');
            };

            modal.on('hide.bs.modal', function (event) {
                reset();
            });

            modal.on('show.bs.modal', function (event) {
                // button that triggered the modal
                var button = $(event.relatedTarget);
                // extract info from data-* attributes
                var endpoint = button.data('endpoint');
                var url = button.data('endpoint-url');

                setTitle(endpoint);

                var request = function () {
                    $.ajax({
                        url: url
                    }).done(function (data) {
                        setContent(JSON.stringify(data, null, '\t'));
                    });
                };

                // simulate long request
                setTimeout(request, 2000);
            });

        })($);
    </script>

</div>

</body>
</html>