<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
    <script src="../../static/js/jquery-latest.min.js"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container" th:fragment="content">

    <h2 th:text="#{details}">Details</h2>
    <div class="row">
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{incident.label.basic}">Basic information</h3>
                </div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th th:text="#{incident.id}">Id</th>
                            <td th:text="${incident.getId()}">1</td>
                        </tr>
                        <tr>
                            <th th:text="#{incident.created}">Created</th>
                            <td th:text="${#dates.format(incident.getCreated())}">1/1/2014</td>
                        </tr>
                        <tr>
                            <th th:text="#{incident.type}">Type</th>
                            <td th:text="${incident.getIncidentType()}">-</td>
                        </tr>
                        <tr>
                            <th th:text="#{incident.description}">Description</th>
                            <td>
                                <p>
                                    <button type="button" class="btn btn-default btn-xs description-slide" th:text="#{incident.description}">Click to see the description</button>
                                </p>
                                <p>
                                    <div class="well well-lg description-content" style="display: none" th:text="${incident.getDescription()}">
                                        Lorem ipsum...
                                    </div>

                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{incident.status}">Status</th>
                            <td th:text="${#messages.msg('incident.status.' + incident.getStatus())}">Confirmed</td>
                        </tr>
                        <tr>
                            <th th:text="#{incident.address}">Address</th>
                            <td>
                                <address>
                                    <span th:text="${incident.getAddress().getAddressLine()}">ul. Bruska 61</span><br />
                                    <span th:text="${incident.getAddress().getCityLine()}">85-422 Bydgoszcz</span><br />
                                </address>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{incident.creator}">Creator</th>
                            <td>
                                <address>
                                    <strong><th:block th:text="${incidentCreator.getName()}">John Doe</th:block></strong><br />
                                    <abbr title="Email" th:title="#{incident.account.email}">E:</abbr>&nbsp;<a href="mailto:#"><th:block th:text="${incidentCreator.getEmail()}">john@me.com</th:block></a><br />
                                    <!--/* FIXME Phone not displayed */-->
                                    <abbr title="Phone" th:title="#{incident.account.phone}">P:</abbr>&nbsp;<!-- <th:block th:text="${incidentCreator.getPhone()}">(123) 456-789</th:block> -->
                                </address>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{incident.assignedTo}">Assignee</th>
                            <td>
                                <address th:unless="${incidentAssignee == null}">
                                    <strong><th:block th:text="${incidentAssignee.getName()}">John Doe</th:block></strong><br />
                                    <abbr title="Email" th:title="#{incident.account.email}">E:</abbr>&nbsp;<a href="mailto:#"><th:block th:text="${incidentAssignee.getEmail()}">john@me.com</th:block></a><br />
                                    <abbr title="Phone" th:title="#{incident.account.phone}">P:</abbr>&nbsp;<th:block th:text="${incidentAssignee.getPhone()}">(123) 456-789</th:block>
                                </address>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{incident.label.audits}">Audits</h3>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th th:text="#{incident.audit.id}">Id</th>
                            <th th:text="#{incident.audit.created}">Created</th>
                            <th th:text="#{incident.status.change}">Status change</th>
                            <th th:text="#{incident.audit.description}">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${audits.isEmpty()}">
                            <td colspan="4"><p class="text-muted" th:text="#{noRecords}">No records</p></td>
                        </tr>
                        <tr th:each="item : ${audits}">
                            <td th:text="${item.getId()}">1</td>
                            <td th:text="${#dates.format(item.getCreated())}">2/1/2014</td>
                            <td th:text="${#messages.msg('incident.status.change.message', #messages.msg('incident.status.' + item.getPreviousStatus()), #messages.msg('incident.status.' + item.getStatus()))}">
                                Status changed from Pending to Confirmed
                            </td>
                            <td>
                                <a href="#"
                                   class="btn btn-xs btn-primary"
                                   data-toggle="modal"
                                   data-target="#modal"
                                   data-dialog-title="Lorem"
                                   data-dialog-content="Lorem ipsum"
                                   th:text="#{incident.audit.description}"
                                   th:attr="data-dialog-title=${item.getId()},data-dialog-content=${item.getDescription()?: '(no description)' }">Description</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <div class="btn-group">
                                    <a href="#" th:href="@{${'/incident/' + incident.id + '/audit/create'}}" class="btn btn-default" th:text="#{incident.audit.add}">Add audit</a>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{incident.label.files}">Files</h3>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th th:text="#{incident.file.id}">Id</th>
                            <th th:text="#{incident.file.name}">Name</th>
                            <th th:text="#{incident.file.contentType}">Content Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${files.isEmpty()}">
                            <td colspan="4"><p class="text-muted" th:text="#{noRecords}">No records</p></td>
                        </tr>
                        <tr th:each="item : ${files}">
                            <td th:text="${item.getId()}">1</td>
                            <td>
                                <a href="#" th:href="@{|${incident.getId()}/file/${item.getId()}|}" th:text="${item.getName()}">file.txt</a>
                            </td>
                            <td th:text="${item.getContentType()}">plain/text</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <form method="post" th:action="@{${'/incident/' + incident.getId() + '/file'}}" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="file" th:text="#{incident.file.select}">Select a file</label>
                                        <input type="file" id="file" name="file" />
                                        <p class="help-block" th:text="#{incident.file.size}">Any file not bigger than 512KB</p>
                                    </div>
                                    <button type="submit" class="btn btn-default">Upload</button>
                                </form>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>

    <div th:replace="fragments/dialog :: dialog">&nbsp;</div>

    <script src="../../static/js/dialog.js" th:src="@{/js/dialog.js}"></script>
    <script>
        (function($) {
            var modal = $('#modal');

            var load = function(dialog, event) {

                var a = $(event.relatedTarget);
                var title = a.data('dialog-title');
                var content = a.data('dialog-content');

                setTimeout(function() {
                    dialog.setTitle(title);
                    dialog.setContent(content);
                }, 2000);
            };

            BsDialog.init({
                modal: modal,
                modalShowEventHandler: load
            });
        })($);

        ////////////////

        $(".description-slide").click(function () {
            $content = $(".description-content");
            $content.slideToggle(500);
        });

        ////////////////

        $.fn.inlineEdit = function(replaceWith, callback) {
            $(this).click(function() {
                var element = $(this);
                element.hide();
                element.after(replaceWith);

                replaceWith.val(element.text());
                replaceWith.focus();
                replaceWith.blur(function() {
                    if ($(this).val() != "") {
                        element.text($(this).val());
                    }
                    $(this).remove();
                    element.show();

                    if (callback) {
                        callback(element.text());
                    }
                });
            });
        };
    </script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        (function() {
            var callback = function(value) {
                $.ajax({
                    type: "POST",
                    url: /*[[ ${'/incident/' + incident.getId() + '/description'} ]]*/ '/incident/1/description',
                    data: 'description=' + value
                }).done(function (data) {

                });
            };

            var replaceWith = $('<textarea class="form-control" rows="5" />');
            $('.description-content').inlineEdit(replaceWith, callback);

        })();
        /*]]>*/
    </script>

</div>
</body>
</html>