<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container" th:fragment="content">
    <script type="text/javascript">
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover({
                placement: 'top'
            });
        });
    </script>
    <h2 th:text="#{details}">Details</h2>
    <div class="row">
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Basic information</h3>
                </div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th th:text="#{incident.id}">Id</th>
                            <td th:text="${incident.getId()}">1</td>
                        </tr>
                        <tr>
                            <th th:text="#{incident.created}">Created</th>
                            <td th:text="${incident.getCreated()}">1/1/2014</td>
                        </tr>
                        <tr>
                            <th th:text="#{incident.type}">Type</th>
                            <td th:text="${incident.getIncidentType()}">-</td>
                        </tr>
                        <tr>
                            <th th:text="#{incident.description}">Description</th>
                            <td>
                                <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sapien dui, dictum tempus justo non, congue pharetra elit. Curabitur tempus, neque nec interdum dignissim, urna leo ultrices diam, in gravida mauris diam vel elit. Praesent et justo scelerisque, rhoncus justo quis, sodales massa." th:attr="data-content=${incident.getDescription()}">Click to see the description</button>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{incident.status}">Status</th>
                            <td th:text="${#messages.msg('incident.status.' + incident.getStatus())}">Confirmed</td>
                        </tr>
                        <tr>
                            <th th:text="#{incident.address}">Address</th>
                            <td>
                                <address>
                                    <span th:text="${incident.getAddress().getAddressLine()}">ul. Bruska 61</span><br />
                                    <span th:text="${incident.getAddress().getCityLine()}">85-422 Bydgoszcz</span><br />
                                </address>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{incident.creator}">Creator</th>
                            <td>
                                <address>
                                    <strong><th:block th:text="${incidentCreator.getName()}">John Doe</th:block></strong><br />
                                    <abbr title="Email" th:title="#{incident.account.email}">E:</abbr>&nbsp;<a href="mailto:#"><th:block th:text="${incidentCreator.getEmail()}">john@me.com</th:block></a><br />
                                    <abbr title="Phone" th:title="#{incident.account.phone}">P:</abbr>&nbsp;<th:block th:text="${incidentCreator.getPhone()}">(123) 456-789</th:block>
                                </address>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{incident.assignedTo}">Assignee</th>
                            <td>
                                <address th:unless="${incidentAssignee == null}">
                                    <strong><th:block th:text="${incidentAssignee.getName()}">John Doe</th:block></strong><br />
                                    <abbr title="Email" th:title="#{incident.account.email}">E:</abbr>&nbsp;<a href="mailto:#"><th:block th:text="${incidentAssignee.getEmail()}">john@me.com</th:block></a><br />
                                    <abbr title="Phone" th:title="#{incident.account.phone}">P:</abbr>&nbsp;<th:block th:text="${incidentAssignee.getPhone()}">(123) 456-789</th:block>
                                </address>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Audits</h3>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th th:text="#{incident.audit.id}">Id</th>
                            <th th:text="#{incident.audit.created}">Created</th>
                            <th th:text="#{incident.audit.description}">Description</th>
                            <th th:text="#{incident.status.change}">Status change</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${audits.isEmpty()}">
                            <td colspan="4"><p class="text-muted" th:text="#{noRecords}">No records</p></td>
                        </tr>
                        <tr th:each="item : ${audits}">
                            <td th:text="${item.getId()}">1</td>
                            <td th:text="${item.getCreated()}">2/1/2014</td>
                            <td>
                                <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sapien dui, dictum tempus justo non, congue pharetra elit. Curabitur tempus, neque nec interdum dignissim, urna leo ultrices diam, in gravida mauris diam vel elit. Praesent et justo scelerisque, rhoncus justo quis, sodales massa." th:attr="data-content=${item.getDescription()}">Click to see the description</button>
                            </td>
                            <td th:text="${#messages.msg('incident.status.change.message', #messages.msg('incident.status.' + item.getPreviousStatus()), #messages.msg('incident.status.' + item.getStatus()))}">
                                Status changed from Pending to Confirmed
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <div class="btn-group">
                                    <a href="#" th:href="@{${'/incident/' + incident.id + '/audit/create'}}" class="btn btn-default" th:text="#{incident.audit.add}">Add audit</a>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>