<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head" />
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!--/* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!--/* The message code is returned from the @Controller */-->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}})">Flash message</div>
    </th:block>
    <div th:replace="${view} :: content">&nbsp;</div>
    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>

</body>
</html>